body {
    font-family: Arial, sans-serif;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.htmx-indicator {
    display: none;
}

button[aria-busy="true"] .htmx-indicator {
    display: inline;
}