body {
    font-family: Arial, sans-serif;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.htmx-indicator {
    display: none;
}

button[aria-busy="true"] .htmx-indicator {
    display: inline;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    /* Add this line */
    width: 100%;
    /* Add this line */
    top: 0;
    /* Add this line */
    left: 0;
    z-index: 100;
    /* Add this line */
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    margin-top: 50px;
    padding: 20px;
}

.vei-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-place {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.btn-place button {
    padding: 5px 10px;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#switchButton {
    background-color: rgb(54, 59, 156);
}

#formAutomovel {
    width: 60%;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#formAutomovel h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

#formAutomovel label {
    display: block;
    margin-top: 20px;
    color: #666;
    font-family: Arial, sans-serif;
}

#formAutomovel select option {
    font-weight: bold;
}

#formAutomovel input[type="text"],
#formAutomovel input[type="number"],
#formAutomovel select {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.vei-flex {
    display: flex;
    justify-content: space-between;
}

.vei-flex label {
    flex: 1;
    margin-right: 10px;
}

.btn-place {
    text-align: center;
    margin-top: 20px;
}

.btn-place button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn-place button:hover {
    background-color: #45a049;
}

#formMotociclo {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#formMotociclo h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

#formMotociclo label {
    display: block;
    margin-top: 20px;
    color: #666;
    font-family: Arial, sans-serif;
}

#formMotociclo input[type="text"],
#formMotociclo input[type="number"],
#formMotociclo select {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formMotociclo .vei-flex {
    display: flex;
    justify-content: space-between;
}

#formMotociclo .vei-flex label {
    flex: 1;
    margin-right: 10px;
}

#formMotociclo .btn-place {
    text-align: center;
    margin-top: 20px;
}

#formMotociclo .btn-place button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#formMotociclo .btn-place button:hover {
    background-color: #45a049;
}

#formMotociclo select option {
    font-weight: bold;
}

.center-form {
    display: flex;
    justify-content: center;
}

#UserInfo {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
}


#MeusAnuncios {
    align-items: center;
}

#MeusAnuncios button {
    margin-left: 45%;
}

#userInfoForm {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#userInfoForm label {
    display: block;
    margin-top: 20px;
}

#userInfoForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;

}

#userInfoForm input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#userInfoForm input[type="submit"]:hover {
    background-color: #45a049;
}


.preco{
    font-weight: bold;
    font-size: 20px;
    display: flex;

}

.header {
    display: flex;
}

#filter {
    display: flex;
    flex-direction: row;
}

#filter form {
    display: flex;
    flex-direction: column;
}

#filter label {
    margin-bottom: 0.5em; /* Adds some space between the form elements */
}

#filter input[type="submit"] {
    margin-top: 1em; /* Adds some space above the submit button */
}