body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 20px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.htmx-indicator {
    display: none;
}

button[aria-busy="true"] .htmx-indicator {
    display: inline;
}

#navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
    font-weight: bolder;
}

#navbar a:hover {
    background-color: #ddd;
    color: black;
}

#navbar #logout {
    color: rgb(216, 54, 54);
}

.content {
    height: 100%;
    margin-top: 50px;
    padding: 20px;
}

.Indexcontent {
    height: 60%;
    width: 100%;
    margin-top: 40%;

}



.Indexcontent h1 {
    text-align: center;
    font-size: 80px;
}

.Indexcontent h4 {
    text-align: center;
    margin-top: -5%;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons .button {
    margin: 0 10px;
    /* Adjust the 10px value as needed */
}

.vei-flex {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn-place {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.btn-place button {
    padding: 5px 10px;
    font-size: 1.5em;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#switchButton {
    background-color: rgb(54, 59, 156);
}

#formAutomovel {
    width: 60%;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: block;
}

#formAutomovel h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

#formAutomovel label {
    display: block;
    margin-top: 20px;
    color: #666;
    font-family: Arial, sans-serif;
}

#formAutomovel select option {
    font-weight: bold;
}

#formAutomovel input[type="text"],
#formAutomovel input[type="number"],
#formAutomovel select {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.vei-flex {
    display: flex;
    justify-content: space-between;
}

.vei-flex label {
    flex: 1;
    margin-right: 10px;
}

.btn-place {
    text-align: center;
    margin-top: 20px;
}

.btn-place button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.btn-place button:hover {
    background-color: #45a049;
}

#formMotociclo {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#formMotociclo h2 {
    color: #333;
    font-family: Arial, sans-serif;
}

#formMotociclo label {
    display: block;
    margin-top: 20px;
    color: #666;
    font-family: Arial, sans-serif;
}

#formMotociclo input[type="text"],
#formMotociclo input[type="number"],
#formMotociclo select {
    width: 30%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#formMotociclo .vei-flex {
    display: flex;
    justify-content: space-between;
}

#formMotociclo .vei-flex label {
    flex: 1;
    margin-right: 10px;
}

#formMotociclo .btn-place {
    text-align: center;
    margin-top: 20px;
}

#formMotociclo .btn-place button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

#formMotociclo .btn-place button:hover {
    background-color: #45a049;
}

#formMotociclo select option {
    font-weight: bold;
}

.center-form {
    display: flex;
    justify-content: center;
}

#UserInfo {
    width: 60%;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

#UserInfo #nome {
    text-align: center;
}


#filterPerfil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#filterPerfil button {
    margin-right: 10%;
}

#compras {
    justify-content: center;
}



#Options {
    display: flex;
    justify-content: space-between;
}

#Options>div {
    flex: 1;
    text-align: center;
}




#userInfoForm {
    width: 300px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

#userInfoForm label {
    display: block;
    margin-top: 20px;
}

#userInfoForm input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 100%;

}

#userInfoForm input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#userInfoForm input[type="submit"]:hover {
    background-color: #45a049;
}


.preco {
    font-weight: bold;
    font-size: 20px;
    display: flex;

}

.header {
    display: flex;
    width: 100%;
}

#filter {
    display: flex;
    flex-direction: row;
}

#filter form {
    display: flex;
    flex-direction: column;
}

#filter label {
    margin-bottom: 0.5em;
    /* Adds some space between the form elements */
}

#filter input[type="submit"] {
    margin-top: 1em;
    /* Adds some space above the submit button */
}

#filterPerfil {
    margin-left: 10px;
}

#marcaseg {
    display: none;
    margin-left: 30px;
}

/* #fullfilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(241, 241, 241);
    padding: 1px;
    border-radius: 5px;
    margin-left: 50px;
    padding-bottom: 10px;
    padding-left: 25px;
    border-radius: 15px;
}

#filtrarinput {
    margin-top: 1em;
    width: 100px;
    height: 30px;
}

#leftanuncios {
    display: flex;
    flex-direction: column;

}

#filter select {
    width: 170px;
    height: 25px;
}

#filter input {
    width: 100px;
    height: 20px;
} */

/* #extrafields {
    margin-left: 30px;
    margin-right: 40px;

} */



#fullfilter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

#filter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

#filter form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#filter label {
    margin-bottom: 10px;
    font-weight: bold;
}

#filter select,
#filter input[type="number"],
#filter input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    box-sizing: border-box;
}

#marcaseg {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#extrafields {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#filtrarinput {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

#filtrarinput:hover {
    background-color: #45a049;
}



.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

#veiculo-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

#buy-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 254px;
}

#removeAnuncioForm button {
    background-color: #da2e40;
    color: white;
}

.veiculocard{
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    min-width: 320px;
    text-align: center;
}


.inh {
    text-decoration: none;
    color: inherit;
}

#getAveragePrice{
    background-color:rgb(94, 34, 150);
}
#getAveragePrice:hover{
    background-color:rgb(63, 22, 101);
}