<!DOCTYPE html>
<html>
<head>
    <title>CarFlex - Anuncios</title>
    <link rel="stylesheet" href="../static/style.css">
<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
function fetchAnuncios() {
  fetch('/list_all_anuncios')
    .then(response => response.json())
    .then(data => {
      if (data.length === 0 ){
            document.getElementById('anuncios').innerHTML = 'Sem resultados...';
            return;
          }
        let contentDiv = '<div style="display: flex; flex-wrap: wrap;">';
        data.forEach(anuncio => {
            if (anuncio.tipo === 'automovel') {
                let anuncioDiv = `
                    <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                      <div class="veiculocard">
                        <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                        <p>${anuncio.segmento}</p>
                        <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                        <p>${anuncio.combustivel} | ${anuncio.estado} | ${anuncio.tipo_caixa}</p>
                        <div class="preco">${anuncio.preco} €</div>
                        </div>
                    </a>
                `;
                contentDiv += anuncioDiv;
            } else if (anuncio.tipo === 'motociclo') {
                let anuncioDiv = `
                    <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                      <div class="veiculocard">
                        <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                        <p>${anuncio.segmento}</p>
                        <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                        <p>${anuncio.combustivel} | ${anuncio.estado} | ${anuncio.tipo_caixa}</p>
                        <div class="preco">${anuncio.preco} €</div>
                        </div>
                    </a>
                `;
                contentDiv += anuncioDiv;
            }
        });
        contentDiv += '</div>';
        document.getElementById('anuncios').innerHTML = contentDiv;
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}
    function fetchAnunciosAutomovel() {
      fetch('/list_anuncios_automovel')
        .then(response => response.json())
        .then(data => {
          if (data.length === 0 ){
            document.getElementById('anuncios').innerHTML = 'Sem resultados...';
            return;
          }
          let cards = '<div style="display: flex; flex-wrap: wrap;">';
          data.forEach(item => {
          cards += `
            <a href="/anuncios/${item.codigo_veiculo}" class="inh">
              <div class="veiculocard">
                <h2>${item.marca} ${item.modelo}</h2>
                ${item.segmento}
                <p>${item.ano} | ${item.km} km | ${item.cavalos} cv</p>
                <p>${item.combustivel} | ${item.estado} | ${item.tipo_caixa}</p>
                <div class="preco">${item.preco} €</div>
                <p>
                </div>
            </a>
          `;
          });
          cards += '</div>';

          document.getElementById('anuncios').innerHTML = cards;
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
    function fetchAnunciosMotociclo() {
      fetch('/list_anuncios_motociclo')
        .then(response => response.json())
        .then(data => {
          if (data.length === 0 ){
            document.getElementById('anuncios').innerHTML = 'Sem resultados...';
            return;
          }
          let cards = '<div style="display: flex; flex-wrap: wrap;">';
          data.forEach(item => {
          cards += `
            <a href="/anuncios/${item.codigo_veiculo}" class="inh">
              <div class="veiculocard">
                <h2>${item.marca} ${item.modelo}</h2>
                <p>${item.segmento}</p>
                <p>${item.ano} | ${item.km} km | ${item.cilindrada} cm3</p>
                <p>${item.combustivel} | ${item.estado} | ${item.tipo_caixa}</p>
                <div class="preco">${item.preco} €</div>
                </div>
            </a>
          `;
          });
          cards += '</div>';


          document.getElementById('anuncios').innerHTML = cards;
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    function fetchFilterAnuncios() {
    const tipo = document.getElementById('tipo').value;
    const marca = document.getElementById('marca').value;
    const segmento = document.getElementById('segmento').value;
    const km = document.getElementById('km').value;
    const ano = document.getElementById('ano').value;
    const combustivel = document.getElementById('combustivel').value;
    const estado = document.getElementById('estado').value;
    const tipo_caixa = document.getElementById('tipo_caixa').value;
    const preco = document.getElementById('preco').value;
    const modelo = document.getElementById('modelo').value;

    let cavalos = tipo === 'automovel' ? document.getElementById('cavalos').value : '';
    let num_portas = tipo === 'automovel' ? document.getElementById('num_portas').value : '';
    let num_lugares = tipo === 'automovel' ? document.getElementById('num_lugares').value : '';
    let cilindrada = tipo === 'motociclo' ? document.getElementById('cilindrada').value : '';

    const data = { tipo, marca, segmento, km, ano, combustivel, estado, tipo_caixa, cavalos, num_portas, num_lugares, cilindrada, preco, modelo };
    console.log(data);

    fetch('/filter_anuncios', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
    })
    .then(response => response.json())
    .then(data => {
      if (data.length === 0 ){
        document.getElementById('anuncios').innerHTML = 'Sem resultados...';
        return;
      }
      let contentDiv = '<div style="display: flex; flex-wrap: wrap;">';
        data.forEach(anuncio => {
          if (anuncio.tipo === 'automovel') {
            let anuncioDiv = `
                <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                  <div class="veiculocard">
                    <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                    <p>${anuncio.segmento}</p>
                    <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                    <p>${anuncio.combustivel} | ${anuncio.estado} | ${anuncio.tipo_caixa}</p>
                    <div class="preco">${anuncio.preco} €</div>
                    </div>
                </a>
            `;
            contentDiv += anuncioDiv;
          } else if (anuncio.tipo === 'motociclo') {
            let anuncioDiv = `
                <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                  <div class="veiculocard">
                    <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                    <p>${anuncio.segmento}</p>
                    <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                    <p>${anuncio.combustivel} | ${anuncio.estado} | ${anuncio.tipo_caixa}</p>
                    <div class="preco">${anuncio.preco} €</div>
                    </div>
                </a>
            `;
            contentDiv += anuncioDiv;
          }
        });
        contentDiv += '</div>';
        document.getElementById('anuncios').innerHTML = contentDiv;
      })
    .catch((error) => {
        console.error('Error:', error);
    });
}
document.addEventListener('DOMContentLoaded', (event) => {
  document.getElementById('tipo').addEventListener('change', function() {
    var marcaSelect = document.getElementById('marca');
    var segmentoSelect = document.getElementById('segmento');
    var selectedTipo = this.value;
    var marcasegDiv = document.getElementById('marcaseg');
    var extraFieldsDiv = document.getElementById('extrafields');

    marcaSelect.innerHTML = '';
    segmentoSelect.innerHTML = '';

    var marcas;
    var segmentos; // declare the segmentos variable

    if (selectedTipo === 'automovel') {
        marcas = ['', 'Audi', 'BMW', 'Citroën', 'Fiat', 'Ford', 'Mercedes-Benz', 'Porsche', 'Renault', 'Volkswagen', 'Chevrolet', 'Tesla', 'Toyota', 'Lamborghini', 'Bugatti'];
        segmentos = ['', 'carros_citadinos', 'utilitarios', 'familiares_compactos', 'familiares_medios_executivos_medios', 'familiares_grandes_executivos_grandes', 'luxo'];
        extraFieldsDiv.innerHTML = `
            <label for="cavalos">Cavalos (min)</label>
            <input type="number" id="cavalos" name="cavalos">
            <label for="num_portas">Número de Portas</label>
            <input type="number" id="num_portas" name="num_portas">
            <label for="num_lugares">Número de Lugares</label>
            <input type="number" id="num_lugares" name="num_lugares">
        `;
        marcasegDiv.style.display = 'block';
        
    } else if (selectedTipo === 'motociclo') {
        marcas = ['', 'Honda', 'Harley-Davidson', 'Yamaha', 'Kawasaki', 'Suzuki', 'BMW Motorrad', 'Ducati', 'Triumph', 'KTM'];
        segmentos = ['', 'Cruiser', 'Todo_terreno', 'Grand_Turismo', 'Nacionais', 'Motos125', 'Quadriciclos', 'Sport', 'Renault'];
        extraFieldsDiv.innerHTML = `
            <label for="cilindrada">Cilindrada (min)</label>
            <input type="number" id="cilindrada" name="cilindrada">
        `;
        marcasegDiv.style.display = 'block';
    } else {
      marcasegDiv.style.display = 'none';
      extraFieldsDiv.innerHTML = '';
      document.getElementById('modelo').value = '';
      return;
    }

    // create new options based on the selected tipo
    for (var i = 0; i < marcas.length; i++) {
      var option = document.createElement('option');
      option.value = marcas[i];
      option.text = marcas[i];
      marcaSelect.add(option);
    }

    // create new options for segmentos based on the selected tipo
    for (var i = 0; i < segmentos.length; i++) {
      var option = document.createElement('option');
      option.value = segmentos[i];
      option.text = segmentos[i];
      segmentoSelect.add(option); // add the option to the segmento select element
    }
  });
});

    // Call fetchAnuncios immediately when the script is loaded
    fetchAnuncios();
</script>
</head>
<body>
  <div id="navbar">
    <a href="/">CarFlex</a>
    <a href="/anuncios">Anuncios</a>
    <a href="/vender">Vender</a>
    <a href="/avaliacoes">Avaliações</a>
    <a href="/perfil">Perfil</a>
    <a id="logout" href="/logout">Logout</a>
    </div>
  <div class="content">
    <div class="header">
      <div id="leftanuncios">
        <h1>ANUNCIOS</h1>
        <div>
          <button onclick="fetchAnuncios()">Todos</button>
          <button onclick="fetchAnunciosAutomovel()">Automoveis</button>
          <button onclick="fetchAnunciosMotociclo()">Motociclos</button>
        </div>
      </div>
      <div id="fullfilter">
      <div id="filter">
        <div>
          <form onsubmit="event.preventDefault(); fetchFilterAnuncios();" method="post">
            <label for="tipo">Tipo</label>
              <select name="tipo" id="tipo">
                  <option value=""></option>
                  <option value="automovel">Automovel</option>
                  <option value="motociclo">Motociclo</option>
              </select>
            <label for="ano">Ano (min)</label>
              <input type="number" id="ano" name="ano" min="1900" max="2024" step="1">
            <label for="km">Km (min)</label>
              <input type="number" id="km" name="km" min="0">
            <label for="preco">Preço(min)</label>
              <input type="number" id="preco" name="preco" min="0">
          </div>
        <div style="margin-top: 20px; margin-left: 40px">
          <label for="estado">Estado</label>
              <select name="estado" id="estado">
                  <option value=""></option>
                  <option value="novo">Novo</option>
                  <option value="usado">Usado</option>
              </select>
          <label for="tipo_caixa">Tipo de Caixa</label>
              <select name="tipo_caixa" id="tipo_caixa">
                  <option value=""></option>
                  <option value="manual">Manual</option>
                  <option value="automatico">Automatico </option>
              </select>
          <label for="combustivel">Combustivel</label>
          <select name="combustivel" id="combustivel">
              <option value=""></option>
              <option value="gasolina">Gasolina</option>
              <option value="diesel">Diesel</option>
              <option value="eletrico">Eletrico</option>
          </select>
        </div>
        <div id="marcaseg" style="display: none;">
          <label for="marca">Marca</label>
              <select name="marca" id="marca">
                  <!-- Options will be populated by JavaScript -->
              </select>
          <label for="modelo">Modelo</label>
              <input type="text" id="modelo" name="modelo" style="width: 150px; height: 36px;">
          <label for="segmento">Segmento</label>
              <select name="segmento" id="segmento"">
                  <!-- Options will be populated by JavaScript -->
              </select>
  
        </div>
        <div id="extrafields"></div>
      </div>
      <input id="filtrarinput" type="submit" value="Filtrar">
      </div>
      </form>
      </div>
      
    
    </div>
    <div id="anuncios"></div>
  </div>
</body>
</html>