<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Anuncio</title>
</head>
<body>
    <div id="navbar">
        <a href="/">CarFlex</a>
        <a href="/sobre">Sobre</a>
        <a href="/anuncios">Anuncios</a>
        <a href="/vender">Vender</a>
    </div>

    <div class="container">
        <h1>Anuncio {{anuncio.numero}}</h1>
        <h2>{{anuncio.tipo}} #{{ anuncio.codigo_veiculo }}</h2>
        <p>Marca: {{anuncio.marca}}</p>
        <p>Modelo: {{ anuncio.modelo }}</p>
        <p>Km: {{anuncio.km}} </p>
        <h2>Preço: {{anuncio.preco}}</h2>
        <form class="center-form" hx-post="/comprarAnuncio/{{anuncio.numero}}" hx-target="#avaliacao" hx-swap="innerHTML">
        <button type="submit">Comprar</button>
        </form>
        <div id="avaliacao"></div>
    </div>
</body>
</html>