<!DOCTYPE html>
<html>
<head>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Anuncio</title>
</head>
<body>
    <div id="navbar">
        <a href="/">CarFlex</a>
        <a href="/anuncios">Anuncios</a>
        <a href="/vender">Vender</a>
        <a href="/perfil">Perfil</a>
        <a id="logout" href="/logout">Logout</a>
    </div>

    <div class="container">
        <h1>{{anuncio.marca}} {{ anuncio.modelo }}</h1>
        <h2>{{anuncio.tipo}} {{anuncio.segmento}}</h2>
        <p>Ano: {{anuncio.ano}}</p>
        <p>Km: {{anuncio.km}} </p>
        {% if anuncio.tipo == "automovel" %}
            <p>Cavalos: {{anuncio.cavalos}}</p>
            <p>Lugares: {{anuncio.num_lugares}} | Portas: {{anuncio.num_portas}}</p>
        {% elif anuncio.tipo == "motociclo" %}
            <p>Cilindrada: {{anuncio.cilindrada}}</p>
        {% endif %}
        <p>{{anuncio.combustivel}} | {{anuncio.estado}} | {{anuncio.tipo_caixa}}</p>
        <p>veiculo {{anuncio.numero}} #{{ anuncio.codigo_veiculo }}</p>
        <h2>Preço: {{anuncio.preco}}</h2>
        
        <form class="center-form" hx-post="/comprarAnuncio/{{anuncio.numero}}" hx-target="#avaliacao" hx-swap="innerHTML">
        <button type="submit">Comprar</button>
        </form>
        <div id="avaliacao"></div>
    </div>
</body>
</html>