<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/style.css">
    <title>Anuncio</title>
</head>
<body>
    <div id="navbar">
        <a href="/">CarFlex</a>
        <a href="/sobre">Sobre</a>
        <a href="/anuncios">Anuncios</a>
        <a href="/vender">Vender</a>
    </div>

    <div class="container">
        <h1>Anuncio {{anuncio.numero}}</h1>
        <h2>{{anuncio.tipo}} #{{ anuncio.codigo_veiculo }}</h2>
        <p>Marca: {{anuncio.marca}}</p>
        <p>Modelo: {{ anuncio.modelo }}</p>
        <p>Km: {{anuncio.km}} </p>
        <h2>Preço: {{anuncio.preco}}</h2>
        <form action="/comprarAnuncio/{{anuncio.numero}}" method="post">
            <button type="submit">Comprar</button>
        </form>
        <form id="avaliacaoForm" action="/submitAvaliacao/{numero}" method="post">
            <label for="avaliacao">Avaliação:</label>
            <input type="number" id="avaliacao" name="avaliacao" required>
            <label for="comentario">Comentário:</label>
            <input type="text" id="comentario" name="comentario" required>
            <button type="submit">Submit Avaliação</button>
        </form>
    </div>
</body>
</html>