<script src="https://unpkg.com/htmx.org@1.9.10"></script>
<script>
  function fetchAnuncios() {
    event.preventDefault();
    fetch('/list_anuncios')
      .then(response => response.json())
      .then(data => {
        console.log(data);
        let table = '<table><thead><tr><th>Numero</th><th>Marca</th><th>Modelo</th><th>Cavalos</th><th>KM</th><th>Preco</th></tr></thead><tbody>';
        data.forEach(item => {
          table += `<tr><td>${item.numero}</td><td>${item.marca}</td><td>${item.modelo}</td><td>${item.cavalos}</td><td>${item.km}</td><td>${item.preco}</td></tr>`;
        });
        table += '</tbody></table>';
        document.getElementById('anuncios').innerHTML = table;
      })
      .catch((error) => {
        console.error('Error:', error);
      });
  }
</script>
<link rel="stylesheet" href="../static/style.css">
<div id="navbar">
    <a href="/">CarFlex</a>
    <a href="/anuncios">Anuncios</a>
    <a href="/vender">Vender</a>
    <a href="/logout">Logout</a>
    <a href="/perfil">Perfil</a>
  </div>
<form>
  <div class="content">
    <h1> CARFLEX</h1>
    <button onclick="fetchAnuncios(event)">Fetch Anuncios</button>
    <div id="anuncios"></div>
  </div>
</form>

