<!DOCTYPE html>
<html>

<head>
    <title>Perfil</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="../static/style.css">
    <script>
        let areAnunciosShown = false;
        let areComprasShown = false;
        let areAutomovelAnunciosShown = false; 
        let areMotocicloAnunciosShown = false;  
        function fetchAnunciosUser(event){
            event.preventDefault();

            if (areAnunciosShown) {
                // If the anuncios are currently shown, hide them
                document.getElementById('anuncios').innerHTML = '';
                document.getElementById('filterAnuncios').innerHTML = '';
            } else {
                // If the anuncios are not currently shown, fetch and display them
                fetch('/anuncios_user')
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        if (data.length === 0) {
                            document.getElementById('error').innerHTML = '<div style="display: flex; justify-content: center;">Ainda não criou nenhum Anuncio.</div>';
                            return;
                        }
                        let contentDiv = '<div style="display: flex; flex-wrap: wrap;">';
                            data.forEach(anuncio => {
                                if (anuncio.tipo === 'automovel') {
                                  let anuncioDiv = `
                                      <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                                          <div class="veiculocard">
                                          <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                                          <p>${anuncio.segmento}</p>
                                          <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                                          <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                                          <div class="preco">${anuncio.preco} €</div>
                                          </div>
                                      </a>
                                  `;
                                  contentDiv += anuncioDiv;
                                } else if (anuncio.tipo === 'motociclo') {
                                  let anuncioDiv = `
                                      <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                                          <div class="veiculocard">
                                          <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                                          <p>Segmento: ${anuncio.segmento}</p>
                                          <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                                          <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                                          <div class="preco">${anuncio.preco} €</div>
                                          </div>
                                      </a>
                                  `;
                                  contentDiv += anuncioDiv;

                                
                                }
                              });
                              contentDiv += '</div>';

                            let filters = ' ';
                            filters += '<button onclick="fetchAnunciosAutomovel(event)"style="margin-right: 10px;">Automóvies</button>';
                            filters += '<button onclick="fetchAnunciosMotociclo(event)"> Motociclos </button>';
                              document.getElementById('anuncios').innerHTML = contentDiv;
                              document.getElementById('filterAnuncios').innerHTML = filters;
                            })
                    .catch((error) => {
                        console.error('Error:', error);
                    });
            }

            // Toggle the areAnunciosShown variable
            areAnunciosShown = !areAnunciosShown;
        }
    
            function fetchAnunciosAutomovel(event) {
                event.preventDefault();
                    // If the automovel anuncios are not currently shown, fetch and display them
                    fetch('/list_anuncios_automovel_User')
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            let cards = '<div style="display: flex; flex-wrap: wrap;">';
                            data.forEach(anuncio => {
                                cards += `
                                 <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                                          <div class="veiculocard">
                                          <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                                          <p>${anuncio.segmento}</p>
                                          <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                                          <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                                          <div class="preco">${anuncio.preco} €</div>
                                          </div>
                                      </a>
                                `;
                            });
                            cards += '</div>';
            
                            document.getElementById('anuncios').innerHTML = cards;
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }       
              function fetchAnunciosMotociclo() {
                fetch('/list_anuncios_motociclo_User')
                  .then(response => response.json())
                  .then(data => {
                    console.log(data);
                    let cards = '<div style="display: flex; flex-wrap: wrap;">';
                    data.forEach(anuncio => {
                    cards += `
                    <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                        <div class="veiculocard">
                        <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                        <p>Segmento: ${anuncio.segmento}</p>
                        <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                        <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                        <div class="preco">${anuncio.preco} €</div>
                        </div>
                    </a>
                    `;
                    });
                    cards += '</div>';
          
          
                    document.getElementById('anuncios').innerHTML = cards;
                  })
                  .catch((error) => {
                    console.error('Error:', error);
                  });
                }

              function fetchComprasUser(event){
                event.preventDefault();
            
                if (areComprasShown) {
                    // If the compras are currently shown, hide them
                    document.getElementById('compras').innerHTML = '';
                    document.getElementById('filterCompras').innerHTML = '';
                } else {
                    // If the compras are not currently shown, fetch and display them
                    fetch('/compras_user')
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            if (data.length === 0) {
                                document.getElementById('error').innerHTML = '<div style="display: flex; justify-content: center;">Ainda não tem nenhuma Compra.</div>';
                                return;
                            }
                            let contentDiv = '<div style="display: flex; flex-wrap: wrap;">';
                                
                                data.forEach(anuncio => {
                                    if (anuncio.tipo === 'automovel') {
                                      let anuncioDiv = `
                                          <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                                              <div class="veiculocard">
                                              <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                                              <p>${anuncio.segmento}</p>
                                              <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                                              <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                                              <div class="preco">${anuncio.preco} €</div>
                                              </div>
                                          </a>
                                      `;
                                      contentDiv += anuncioDiv;
                                    } else if (anuncio.tipo === 'motociclo') {
                                      let anuncioDiv = `
                                          <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                                              <div class="veiculocard">
                                              <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                                              <p>Segmento: ${anuncio.segmento}</p>
                                              <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                                              <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                                              <div class="preco">${anuncio.preco} €</div>
                                              </div>
                                          </a>
                                      `;
                                      contentDiv += anuncioDiv;
                                    }
                                });
                                contentDiv += '</div>';
            
                            let filters = ' ';
                            filters += '<button onclick="fetchComprasAutomovel(event)"style="margin-right: 10px;" >Automóvies</button>';
                            filters += '<button onclick = "  fetchComprasMotociclo(event)"> Motociclos </button>';
                            
                            document.getElementById('filterCompras').innerHTML = filters;
                            document.getElementById('compras').innerHTML = contentDiv;
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }
            
                // Toggle the areComprasShown variable
                areComprasShown = !areComprasShown;
            }


        function fetchComprasAutomovel(event) {
            fetch('/compras_user_automovel')
            .then (response => response.json())
            .then(data => {
                console.log(data);
                let cards = '<div style="display: flex; flex-wrap: wrap;">';
                data.forEach(anuncio => {
                    cards += `
                    <a href="/anuncios/${anuncio.codigo_veiculo}" class="inh">
                        <div class="veiculocard">
                        <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                        <p>${anuncio.segmento}</p>
                        <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cavalos} cv</p>
                        <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                        <div class="preco">${anuncio.preco} €</div>
                        </div>
                    </a>
                    `;
                });
                cards += '</div>';
                document.getElementById('compras').innerHTML = cards;
            })
        }

        function fetchComprasMotociclo(event){
            fetch('/compras_user_motociclo')
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let cards = '<div style="display: flex; flex-wrap: wrap;">';
                data.forEach(anuncio => {
                    cards += `
                    <a href="/compra/${anuncio.codigo_veiculo}" class="inh">
                        <div class="veiculocard">
                        <h2>${anuncio.marca} ${anuncio.modelo}</h2>
                        <p>Segmento: ${anuncio.segmento}</p>
                        <p>${anuncio.ano} | ${anuncio.km} km | ${anuncio.cilindrada} cm3</p>
                        <div class="compra"><strong>anuncio </strong>${anuncio.numero}</div>
                        <div class="preco">${anuncio.preco} €</div>
                        </div>
                    </a>
                    `;
                });
                cards += '</div>';
                document.getElementById('compras').innerHTML = cards;
            })
        }


        function editUserInfo() {
            const userInfo = document.getElementById('UserInfo');
        
            userInfo.innerHTML = `
                <form id="userInfoForm" action="/submitUserInfo" method="post">
                    <label for="nomeInput">Nome:</label>
                    <input type="text" id="nomeInput" name="nome" pattern="[A-Za-z\s]+" value="{{ user.nome }}">
                    
                    <label for="usernameInput">Username:</label>
                    <input type="text" id="usernameInput" name="username" value="{{ user.username }}">
                    
                    <label for="enderecoInput">Morada:</label>
                    <input type="text" id="enderecoInput" name="endereco" value="{{ user.endereco }}">
                    
                    <label for="nifInput">Nif:</label>
                    <input type="text" id="nifInput" name="nif" pattern="\\d{9}" maxlength="9" value="{{ user.nif }}">
                    
                    <input type="submit" value="Submit">
                </form>
            `;
        }         
    </script>
</head>
<body>
    <div id="navbar">
    <a href="/">CarFlex</a>
    <a href="/anuncios">Anuncios</a>
    <a href="/vender">Vender</a>
    <a href="/avaliacoes">Avaliações</a>
    <a href="/perfil">Perfil</a>
    <a id="logout" href="/logout">Logout</a>
    </div>

    <div id="UserInfo">
        <h2 id="nome">{{ user.nome }}</h2>
        <p id="username"><strong> Username: </strong>{{ user.username }}</p>
        <p id="endereco"><strong>Morada: </strong> {{ user.endereco }}</p>
        <p id="nif"><strong>Nif: </strong>  {{ user.nif }}</p>
        <button onclick="editUserInfo()">Edit</button>
    </div>
    <div id="error"></div>
    
    <div id="Options">
        <div id="MeusAnuncios">
            <button onclick="fetchAnunciosUser(event)">Meus Anuncios</button>
            <div id="filterAnuncios"></div>
            <div id="anuncios"></div>
        </div>
        <div id="MinhasCompras">
            <button onclick="fetchComprasUser(event)">Minhas Compras</button>
            <div id="filterCompras"></div>
            <div id="compras"></div>
        </div>
    </div>
</body>
</html>