<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="navbar">
        <a href="/">CarFlex</a>
        <a href="/sobre">Sobre</a>
        <a href="/comprar">Comprar</a>
        <a href="/vender">Vender</a>
    </div>
    <div class="container">
        <h1>Register</h1>
        <div class="register-form">
            <form action="/submitRegistration" method="post" onsubmit="handleFormSubmit(event)">
                <label for="nif">NIF:</label>
                <input type="text" id="nif" name="nif" maxlength="9" pattern="\d{9}" required>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
                <label for="endereco">Endereco:</label>
                <input type="text" id="endereco" name="endereco" required>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
</body>
</html>