<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="navbar">
        <a href="/">CarFlex</a>
        <a href="/anuncios">Anuncios</a>
        <a href="/vender">Vender</a>
        <a href="/avaliacoes">Avaliações</a>
        <a href="/">Entrar</a>
    </div>
    <div class="container">
        <h1>Registar Conta</h1>
        <div class="register-form">
            <form action="/submitRegistration" method="post" onsubmit="handleFormSubmit(event)">
                <label for="nif">NIF:</label>
                <input type="text" id="nif" name="nif" maxlength="9" pattern="\d{9}" required>
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" required>
                <label for="endereco">Endereco:</label>
                <input type="text" id="endereco" name="endereco" required>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Register">
            </form>
        </div>
        <div id="error"></div>
    </div>
    <script>
        window.onload = function() {
            document.querySelector("form").addEventListener("submit", function(event){
                event.preventDefault();
    
                fetch("/submitRegistration", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/x-www-form-urlencoded",
                    },
                    body: new URLSearchParams(new FormData(event.target)).toString()
                })
                .then(response => {
                    if (!response.ok) {
                        throw response;
                    }
                    return response.json();
                })
                .then(data => {
                    window.location.href = "/";
                })
                .catch(err => {
                    err.text().then(errorMessage => {
                        document.getElementById("error").innerText = errorMessage;
                    })
                });
            });
        }
        </script>
</body>
</html>